@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*font-family: 'Roboto', sans-serif; */
  background-image: url('/assets/img/background.jpg');
}

@media (min-width: 640px) and (max-width: 767px) {
  .custom-scroll {
    overflow: auto !important;
    height: calc(100vh - 56px) !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .custom-scroll {
    overflow: auto;
    padding-right: 60px;
  }
}
